li,a,a:hover
{
    text-decoration: none;
    list-style: none;
    color: white;
}
.barNav{
    background: #1C1F23;
}
#home
{
    background: #1C1F23;
    color: white;
    min-height: 80vh;
    max-height: fit-content;
}
.barNav
{
    padding-left: 10px;
    padding-right: 10px;
}
.logo
{
    
    width: 100px;
}
.links
{
    flex:1;
    
    display: flex;
    align-items: center;
    justify-content: right;
}
.links ul>li{
    padding: 0px 5px;
}
.homeContent
{
    
    min-height: 80vh;
}

.right
{
    flex: 1;
    font-size: 90%;
    align-items: center;
}

.left
{
    flex:1;
    align-items: flex-end;
}

#about
{
    background: #1C1F23;
    color: white;
    min-height: 90vh;
    max-height:fit-content;
    
    align-items: stretch;
}
.aboutRight
{
    flex:1;

    align-items: center;
}
.aboutLeft
{
    flex:1;
    
    align-items: flex-end;
}

/* Contact styling */
/* Contact styling Ending */

/* Team Styling */
#team
{
background:#1C1F23;
min-height: 92vh;
max-height  : fit-content;
justify-content: space-around;
color: white;
}

.member
{
    text-align: center;
    width: 250px;
    padding: 10px;
    margin-top: 5px;
}
.img-container
{
justify-content: center;
}
.memberImg
{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px white solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.memberImg
{
    max-width: 100%;
    max-height: 100%;
}
/* Team Styling Ending */

/* Event Styling */
#events
{
    background: #1C1F23;
    min-height: 90vh;
    max-height: fit-content;
}

.blocks
{
    justify-content: space-around;
    flex-wrap: wrap;
}
.block
{

    width: 250px;
    background: #3D4179;
    color: white;
    border-radius: 10%;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}
.block>*
{
    text-align: center;
 }
.EventImg
{
    margin-left: 50%;
    transform: translate(-50%,0%);
    border-radius: 50%;
    width: 20%;
    background: radial-gradient(111.14% 111.14% at 8.37% 0%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%)
}
.eventTitle
{
font-weight: bolder;
}
.eventDescription
{
    color: #898CA9;
}
.knowMoreLink
{
    color: #B982FF;
}

