.bg-dark {
    background: #1C1F23 !important;
}

.bg-primary {
    background-color: #3D4179 !important;
}

.bg-grey {
    background-color: #efefef;
}

.bg-darkgrey {
    background-color: #23272c;
}

.text-primary {
    color: #B982FF !important;
}