html,
body {
    background: #1C1F23;
    color: white;
    padding: 0px;
    margin: 0px;
}

.center-vh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-dark {
    background: #1C1F23 !important;
}

.bg-primary {
    background-color: #3D4179 !important;
}

.text-primary {
    color: #B982FF !important;
}

.br-15 {
    border-radius: 15px;
}

a,
a:hover {
    text-decoration: none;
    list-style: none;
    color: white !important;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.grad-circle {
    border-radius: 50%;
    background: radial-gradient(111.14% 111.14% at 8.37% 0%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%)
}