* {
    font-family: 'Roboto';
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

a,
a:focus,
a:hover {
    text-decoration: inherit;
    color: inherit;
}

.center-vh {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-48px {
    font-size: 48px;
}

.font-20px {
    font-size: 20px;
}

.material-navbar {
    margin: 24px !important;
    transition: ease 200ms;
}

#body:not([data-scroll='0']) .material-navbar {
    margin: 0px !important;
    border-radius: 0px 0px 12px 12px;
}

.typed-out {
    overflow: hidden;
    border-right: 2px solid orange;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 5vw;
}

.animate-typed-out {
    animation:
        typing 5.0s infinite,
        blinking .75s infinite;
}

@keyframes typing {

    from,
    to {
        width: 0
    }

    50% {
        width: 100%
    }
}

@keyframes blinking {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}